* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(47, 47, 85);
}

nav ul {
    display: flex;
    flex-direction: column;
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
    gap: 30px;
    font-weight: 600;
}

nav ul li {
    list-style: none;
    cursor: pointer;
    position: relative;
}

ul li a {
    position: relative;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: white;
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    border-right: 10px solid var(--clr);
    -webkit-text-fill-color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
}

ul li a:hover::before {
    width: 100%;
    -webkit-text-stroke: 1px var(--clr);
    filter: drop-shadow(0 0 25px var(--clr));
}